// # Content styles
// ====================

.content {
  flex: 1;
  margin: 0 $content-margin 0 0;
  overflow: auto;
  border-top-left-radius: $content-margin * .6;
  border-top-right-radius: $content-margin * .6;
  background-color: $content-background;
  color: $content-color;

  > .inner {
    margin: .75rem;
    overflow: hidden;

    > .el-breadcrumb {
      margin-bottom: .75rem;
    }

    > .heading {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 0 .625rem;
      padding: 0 .25rem .25rem 0;
      // border-bottom: .0625rem solid darken($content-background, 5%);

      > .title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1;
      }

      > .action {
        display: flex;
        list-style: none;
        margin: 0 0 0 1rem;
        padding: 0;
        overflow: hidden;

        > li {
          margin-left: .375rem;

          > a {
            color: $content-color;
            opacity: .5;
            transition: opacity .2s;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      > .search {
        display: flex;
        flex: 1;
        margin: 0 1.25rem;
        border-left: .0625rem solid lighten($content-color, 50%);

        &::before {
          margin: 0 .625rem;
          color: $content-color;
          opacity: .6;
        }

        input {
          flex: 1;
          padding: .125rem .25rem;
          background: transparent;
          border: 0;
          border-bottom: .0625rem solid transparent;
          color: lighten($content-color, 20%);
          font-size: .875rem;
          transition: border-bottom .2s;

          &:focus {
            border-bottom-color: lighten($content-color, 40%);
            outline: 0;
          }
        }
      }
    }
  }
}
