/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

@import 'base/variables';
@import 'base/mixins';
@import 'base/icons';
@import 'base/transitions';
@import 'base/components';

@import 'modules/global';
@import 'modules/header';
@import 'modules/sidebar';


// # Demo styles
// ====================

.icons {
  width: 100%;
  word-wrap: break-word;

  i {
    display: inline-block;
    margin: 1rem;
    font-size: 2.25rem;
  }
}
