name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
      - name: Install Dependencies
        run: npm install
      - name: Lint Source
        run: npm run lint
      - name: Build Site
        run: npm run build
        env:
          NODE_ENV: production
          CI: true
      # - name: Deploy Site
      #   if: github.ref == 'refs/heads/master'
      #   run: npx gh-pages
      #     -d dist
      #     -u "GitHub Actions <bots@github.com>"
      # - name: Deploy to Surge
      #   if: github.ref == 'refs/heads/master'
      #   run: npx surge
      #     dist
      #     --token ${{secrets.SURGE_TOKEN}}
