name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
      - name: Install Dependencies
        run: npm ci
      - name: Build Site
        run: npm run build
        env:
          NODE_ENV: production
          CI: true
      - name: Deploy Site
        if: github.ref == 'refs/heads/master'
        run: npx gh-pages
          -d dist
          -u "GitHub Actions <bots@github.com>"
      # - name: Deploy to Surge
      #   if: github.ref == 'refs/heads/master'
      #   run: npx surge
      #     dist
      #     --token ${{secrets.SURGE_TOKEN}}
